@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-map{
  width: 100%;
  height: 500px;
}
.recharts-x-axis .recharts-cartesian-axis-tick:first-child line {
  stroke: none;
 }
 .recharts-x-axis .recharts-cartesian-axis-tick:first-child text {
   font-size: 0;
 }